label {
    display: block;
    visibility: hidden;
    font-size: 5px;
}

.address {
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.modal{
    height: 100vh;
}